# Question 1
Consider the following Python module:

a = 0

def b():

global a

a = c(a)

def c(a):

return a + 2

After importing the module into the interpreter, you execute:
b()

b()

b()

a

What value is displayed when the last expression (a) is evaluated? Explain your Banswer by indicating what happens in every executed statement.

In [ ]:
a = 0
def b():
  global a
  a = c(a)
def c(a):
  return a + 2

print(b())
print(b())
print(b())
print(a)

None
None
None
6

When the last expression `a` is evaluated, the value displayed would be `6`.

Here's an explanation of what happens in each executed statement:

1. `b()` is called for the first time:
   - The variable `a` is declared as 0 in the module's global scope.
   - The function `b()` is executed.
   - Inside `b()`, the `global` keyword is used to indicate that `a` refers to the global variable `a` defined in the module.
   - The function `c()` is called with the current value of `a` (0) as the argument.
   - Inside `c()`, the value of `a` is increased by 2 and returned (0 + 2 = 2).
   - The returned value (2) is assigned to the global variable `a` in the module's scope.

2. `b()` is called for the second time:
   - The global variable `a` now holds the value 2.
   - The function `b()` is executed again.
   - Inside `b()`, the `global` keyword ensures that `a` refers to the global variable.
   - The function `c()` is called with the current value of `a` (2) as the argument.
   - Inside `c()`, the value of `a` is increased by 2 and returned (2 + 2 = 4).
   - The returned value (4) is assigned to the global variable `a` in the module's scope.

3. `b()` is called for the third time:
   - The global variable `a` now holds the value 4.
   - The function `b()` is executed once again.
   - Inside `b()`, the `global` keyword ensures that `a` refers to the global variable.
   - The function `c()` is called with the current value of `a` (4) as the argument.
   - Inside `c()`, the value of `a` is increased by 2 and returned (4 + 2 = 6).
   - The returned value (6) is assigned to the global variable `a` in the module's scope.

4. `a` is evaluated:
   - Since the last value assigned to `a` was 6, the value 6 is displayed when `a` is evaluated.

Therefore, the output of the last expression `a` would be `6`.

# Question 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:

 >>>fileLength('midterm.py')
284

>>>fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'

As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [ ]:
def fileLength(filename):
    try:
      file = open(filename)
      contents = file.read()
      file.close()
      print(len(contents))
    except FileNotFoundError:
        print(f"File {filename} not found.")


fileLength("/content/sample_data/README.md")

930

# Question 3
Write a class named Marsupial that can be used as shown below:
>> m = Marsupial()
>> m.put_in_pouch('doll')
>> m.put_in_pouch('firetruck')
>> m.put_in_pouch('kitten')
>> m.pouch_contents()

>> ['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
 extends the Marsupial __init__ constructor to

a. take, as input, the
coordinates x and y of the Kangaroo object,

b. supports method jump that takes number values dx and dy as input and
movesthe kangaroo by dx units along the x-axis and by dy units along the yaxis, and  

c. overloads the __str__ operator so it behaves as shown below.
>> k = Kangaroo(0,0)

>> print(k)

I am a Kangaroo located at coordinates (0,0)
>> k.put_in_pouch('doll')
>> k.put_in_pouch('firetruck')
>> k.put_in_pouch('kitten')
>> k.pouch_contents()

['doll', 'firetruck', 'kitten']
>> k.jump(1,0)

>> k.jump(1,0)

>> k.jump(1,0)

>> print(k)

I am a Kangaroo located at coordinates (3,0)

In [ ]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [ ]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())

k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:

x = {
𝑥/2 +1 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛3𝑥
 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑

Your function should stop when the sequence gets to number 1.

Your implementation must be recursive, without any loops.  
>> collatz(1)
1

>> collatz(10)
10
5
16
8
4
2
1

In [ ]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [ ]:
collatz(1)

collatz(11)

1
11
34
17
52
26
13
40
20
10
5
16
8
4
2
1

# Question 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>> binary(0)
\
0 \
>> binary(1)
\
1 \
>> binary(3)
\
11 \
>> binary(9)
\
1001

In [ ]:
def binary(n):
    if n > 1:
        binary(n // 2)
    print(n % 2, end='')

In [ ]:
binary(0)

0

In [ ]:
binary(1)

1

In [ ]:
binary(3)

11

In [ ]:
binary(9)

1001

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.
>> infile = open('w3c.html')
>> content = infile.read()
>> infile.close()
>> hp = HeadingParser()
>> hp.feed(content)

W3C Mission

Principles

In [ ]:
from html.parser import HTMLParser


class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.indentation = 0
        self.inside_heading = False

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h') and len(tag) == 2 and tag[1].isdigit():
            self.indentation = int(tag[1]) - 1
            self.inside_heading = True

    def handle_endtag(self, tag):
        if self.inside_heading:
            self.inside_heading = False

    def handle_data(self, data):
        if self.inside_heading:
            print(' ' * self.indentation + data)


# Test the implementation using w3c.html
infile = open('/content/w2c.txt')
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

http://reed.cs.depaul.edu/lperkovic/csc242/test2.html

http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

http://reed.cs.depaul.edu/lperkovic/csc242/test3.html

http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [ ]:
import requests
from bs4 import BeautifulSoup


def webdir(url, depth, indent):
    if depth < 0:
        return

    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    print(' ' * indent + url)

    for link in soup.find_all('a'):
        href = link.get('href')
        if href.startswith('http'):
            webdir(href, depth - 1, indent + 1)


# Test the implementation
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

# Question 8
Write SQL queries on the below database table that return:

1. All the temperature data.
2. All the cities, but without repetition.
3. All the records for India.
4. All the Fall records.
5. The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
6. The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
7. The total annual rainfall for Cairo.
8. The total rainfall for each season

In [ ]:
import sqlite3

# Connect to the database (creates a new database if it doesn't exist)
conn = sqlite3.connect('weather.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Create the table with the specified columns
cursor.execute('''CREATE TABLE weather (
                    City TEXT,
                    Country TEXT,
                    Season TEXT,
                    Temperature REAL,
                    Rainfall REAL
                )''')

# Commit the changes and close the connection
conn.commit()
conn.close()

In [ ]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('weather.db')
cursor = conn.cursor()

# Insert the data into the 'weather' table
data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

cursor.executemany('INSERT INTO weather VALUES (?, ?, ?, ?, ?)', data)

# Commit the changes and close the connection
conn.commit()
conn.close()

In [ ]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('weather.db')
cursor = conn.cursor()

# a) All the temperature data
cursor.execute('SELECT Temperature FROM weather')
temperature_data = cursor.fetchall()
print("Temperature Data:", temperature_data)

Temperature Data: [(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

In [ ]:

# b) All the cities, but without repetition
cursor.execute('SELECT DISTINCT City FROM weather')
cities = cursor.fetchall()
print("Cities:", cities)

Cities: [('Mumbai',), ('London',), ('Cairo',)]

In [ ]:

# c) All the records for India
cursor.execute("SELECT * FROM weather WHERE Country = 'India'")
india_records = cursor.fetchall()
print("Records for India:", india_records)

Records for India: [('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [ ]:
# d) All the Fall records
cursor.execute("SELECT * FROM weather WHERE Season = 'Fall'")
fall_records = cursor.fetchall()
print("Fall Records:", fall_records)

Fall Records: [('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [ ]:
# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters
cursor.execute("SELECT City, Country, Season FROM weather WHERE Rainfall BETWEEN 200 AND 400")
average_rainfall_records = cursor.fetchall()
print("Average Rainfall Records:", average_rainfall_records)

Average Rainfall Records: [('Mumbai', 'India', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall')]

In [ ]:
# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
cursor.execute("SELECT City, Country FROM weather WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature ASC")
average_fall_temperature_records = cursor.fetchall()
print("Average Fall Temperature Records:", average_fall_temperature_records)

Average Fall Temperature Records: [('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [ ]:
# g) The total annual rainfall for Cairo
cursor.execute("SELECT SUM(Rainfall) FROM weather WHERE City = 'Cairo'")
cairo_total_rainfall = cursor.fetchone()[0]
print("Total Annual Rainfall for Cairo:", cairo_total_rainfall)

Total Annual Rainfall for Cairo: 27.6

In [ ]:
# h) The total rainfall for each season
cursor.execute("SELECT Season, SUM(Rainfall) FROM weather GROUP BY Season")
season_total_rainfall = cursor.fetchall()
print("Total Rainfall for Each Season:", season_total_rainfall)

# Close the connection
conn.close()

Total Rainfall for Each Season: [('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

# Question 9
. Suppose list words is defined as follows:
>>words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following
lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER',
'THE',
'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [ ]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
list_a = [word.upper() for word in words]
print("List a:", list_a)

List a: ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
List b: ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
List c: [3, 5, 5, 3, 5, 4, 3, 4, 3]
List d: [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
List e: ['quick', 'brown', 'jumps', 'over', 'lazy']

In [ ]:
# b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
list_b = [word.lower() for word in words]
print("List b:", list_b)

In [ ]:

# c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words)
list_c = [len(word) for word in words]
print("List c:", list_c)

In [ ]:
# d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3],
# ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4],
# ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list
# contains the word in uppercase and lowercase and the length of the word.)
list_d = [[word.upper(), word.lower(), len(word)] for word in words]
print("List d:", list_d)

In [ ]:

# e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
# (the list of words in list words containing 4 or more characters.)
list_e = [word for word in words if len(word) >= 4]
print("List e:", list_e)