# There is a table World in the attached SQL file. SQL.txt
A country is big if it has an area of bigger than 3 million square km or a population of more than 25 million.
Write a SQL solution to output big countries' name, population and area.
In an ipython notebook create a sqlite3 database and a table called World. Insert the World data into your table (python + SQL syntax) and then proceed to write the big countries query. Your output does not need to be formatted like table, you may just print the countries with thier populations and areas.
Upload your ipython notebook with output to this question.

In [ ]:
import sqlite3

# Create a SQLite database and connect to it
conn = sqlite3.connect('world.db')
cursor = conn.cursor()

:

In [ ]:
# Create the World table
create_table_query = '''
CREATE TABLE IF NOT EXISTS World (
    name TEXT,
    continent TEXT,
    area REAL,
    population INTEGER,
    gdp INTEGER
);
'''
cursor.execute(create_table_query)

In [ ]:
# Insert World data into the table
insert_data_query = '''
INSERT INTO World (name, continent, area, population, gdp )
VALUES
    ('Afghanistan','Asia', 652230, 25500100,20343000 ),
    ('Albania','Europe', 28748, 2831741,12960000 ),
    ('Algeria','Africa', 2381741, 37100000,188681000 ),
    ('Andorra','Europe', 468, 78115,3712000 ),
    ('Angola','Africa', 1246700, 20609294, 100990000);
'''
cursor.execute(insert_data_query)

# Commit the changes and close the connection
conn.commit()

In [ ]:

# Execute the SQL query
big_countries_query = '''
SELECT name, population, area
FROM World
WHERE area > 3000000 OR population > 25000000;
'''
cursor.execute(big_countries_query)

In [ ]:
# Fetch all the results
big_countries = cursor.fetchall()

# Print the results
for country in big_countries:
    name, population, area = country
    print(f"Name: {name}, Population: {population}, Area: {area}")

Name: Afghanistan, Population: 25500100, Area: 652230.0
Name: Algeria, Population: 37100000, Area: 2381741.0

In [ ]:
# Close the connection
conn.close()